* {
    box-sizing: border-box
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header {  
    background: #2ddf5c;
    width: 100%;    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 16px;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    margin: 0 16px;
    padding: 8px 16px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: #0e4f1f
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    height: 22px;
    display: inline-block;
}

.main-header__brand img {
    height: 100%;
}


.main-nav__item a:hover,
.main-nav__item a:active {
    margin: 0 16px;
    color: white;
    padding: 8px 16px;
    border-bottom: 3px solid white;
}

.main-nav__item--cta a {    
    background: #ff1b68;
    padding: 8px 16px;
    color: white;
    border-bottom: none;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {    
    background: white;
    padding: 8px 16px;
    color: #ff1b68;
    border-bottom: 0px;
    border-radius: 8px    
}



.main-footer {
    background: black;
    margin-top: 48px 0;
    padding: 32px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;    
    margin: 0 18px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}